VITE_YANDEX_MAPS_API_KEY=your_yandex_maps_api_key_here
VITE_YANDEX_SUGGEST_API_KEY=your_yandex_suggest_api_key_here

VITE_EMAILJS_SERVICE_ID=your_emailjs_service_id
VITE_EMAILJS_INVITE_TEMPLATE_ID=your_emailjs_invite_template_id
VITE_EMAILJS_MESSAGE_TEMPLATE_ID=your_emailjs_message_template_id
VITE_EMAILJS_PUBLIC_KEY=your_emailjs_public_key

VITE_OPENTRIPMAP_API_KEY=your_opentripmap_api_key_here
